@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  color: #fff;

  font-family: "Montserrat", monospace;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  color:black;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 100px;
}

nav ul {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;

  display: flex;

  width: 1430px;
  margin: 0 auto;
  padding: 5px 10px;

  letter-spacing: 1px;
  text-transform: uppercase;

  background-color: blue;

  font-size: 13px;

  justify-content: space-between;
}

li {
  margin-left: 165px;
}

a {
  text-decoration: none;

  color: white;
}

a:hover {
  text-decoration: line-through;
}


.list {
  font-weight: bolder;
  font-size: 18px;
  color: black;
  align-items: center;
  justify-content: center;
  margin-left: 480px;
}

.orange {
  margin-top: 50px;
}

.orange + .chinese {
  margin-top: 50px;

}

.about {
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
  text-transform: uppercase;

  color: white;

  font-size: 30px;

  justify-content: center;
  align-items: center;
  background-color: blue;
  width: 150px;
}
